@model Payments.WEB.Areas.Admin.Models.PaymentViewModel
    
@{
    ViewBag.Title = "Replenish account";
}

<h2>Replenish account @Model.Recipient </h2>

@using (Html.BeginForm("Replenish", "Users", null, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="text-danger">
        @Html.ValidationSummary(false)
    </div>

    @Html.HiddenFor(model => model.Recipient)

    <div class="form-group">
        @Html.LabelFor(model => model.PaymentSum, new { @class = "col-md-2 control-label" })
        <div class="col-md-6"> @Html.EditorFor(model => model.PaymentSum, new { htmlAttributes = new { @class = "form-control" }}) </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.Comment, new { @class = "col-md-2 control-label" })
        <div class="col-md-6"> @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control" }}) </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-success">
        </div>
    </div>
}