@using Payments.BLL.DTO
@model UserInfoDTO

@{
    ViewBag.Title = "Show";
}

<h2>Information about user</h2>

<p> @Model.FirstName @Model.SecondName | @Model.Email | @Model.VAT </p>

<div class="well">
    <p> List of debit accounts</p>
    @Html.Action("Accounts", new { id = @Model.Id })
    @Html.ActionLink("Create new debit account", "CreateDebitAccount", new { id = Model.Id })

</div>

<div class="well">
    <p>List of cards</p>
    @Html.ActionLink("Create new debit card", "CreateDebitCard", new { id = Model.Id })
</div>