@using Payments.BLL.DTO
@model UserInfoDTO

@{
    ViewBag.Title = "Show";
}

<h2>Information about user</h2>
<p class="text-danger"> @ViewBag.Message </p>

<p class="text-info"> @Model.FirstName @Model.SecondName | @Model.Email | @Model.VAT </p>

<div class="well">
    <p><strong> List of debit accounts</strong></p>
    <div>
        @Html.Action("Accounts", new { id = @Model.Id })
    </div>
    @Html.ActionLink("Create new debit account", "CreateDebitAccount", new { id = Model.Id })
</div>

<div class="well">
    <p><strong>List of cards</strong></p>
    @Html.Action("CardsList", new { id = Model.Id })
    @Html.ActionLink("Create new debit card", "CreateDebitCard", new { id = Model.Id })
</div>

<div class="well">
    <strong>List of payments</strong>
    
    <select id="paymentsOrderChange">
        <option value="NUM_ASC">Sort ascending by number</option>
        <option value="NUM_DESC">Sort descending by number</option>
        <option value="DATE_ASC">Sort ascending by date</option>
        <option value="DATE_DESC">Sort descending by date</option>
    </select>

    <div id="paymentsList">
        @Html.Action("PaymentsList", new { id = Model.Id })
    </div>
    @Html.ActionLink("Create a payment", "CreatePayment", new { id = Model.Id })
</div>

<script>
    document.getElementById("paymentsOrderChange").addEventListener("focusout", changeOrderPayment);

    function changeOrderPayment() {
        var e = document.getElementById("paymentsOrderChange");
        var option = e.options[e.selectedIndex].value;
        $('#paymentsList').load('@Url.Action("PaymentsList", "Users")/@Model.Id?Order=' + option);
    }

    @*$(document).(function () {
        $('#paymentsOrderChange').click(function (e) {
            alert("Wow");
            e.preventDefault();
            //var name = $('#search').val();
            //name=encodeURIComponent(name);
            $('#payments-list').load('@Url.Action("PaymentsList", "Users")?order=' + 'desc');
        });
    });*@
</script>