@using Payments.BLL.DTO
@model UserInfoDTO

@{
    ViewBag.Title = "Show";
}

<h2>Information about user</h2>
<p class="text-danger"> @ViewBag.Message </p>

<p class="text-info"> @Model.FirstName @Model.SecondName | @Model.Email | @Model.VAT </p>

<div class="well">
    <p><strong> List of debit accounts</strong></p>
    @Html.Action("Accounts", new { id = @Model.Id })
    @Html.ActionLink("Create new debit account", "CreateDebitAccount", new { id = Model.Id })
</div>

<div class="well">
    <p><strong>List of cards</strong></p>
    @Html.Action("CardsList", new { id = Model.Id })
    @Html.ActionLink("Create new debit card", "CreateDebitCard", new { id = Model.Id })
</div>