@using System.Collections
@model Payments.WEB.Models.CardViewModel

@{
    ViewBag.Title = "Creating a new debit card";
}

<h2>Creating a new debit card</h2>

@using (Html.BeginForm("CreateCard", "Cards", null, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="text-danger">
        @Html.ValidationSummary(false)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CreditCardTypes, new { @class = "col-md-2 control-label" })
        <div class="col-md-10"> @Html.EnumDropDownListFor(model => model.CreditCardTypes, new { @class = "form-control" }) </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AccountAccountNumber, new { @class = "col-md-2 control-label" })
        <div class="col-md-6"> @Html.DropDownListFor(model => model.AccountAccountNumber, new SelectList(ViewBag.DropDownListItems, "Value", "Text"), new { @class = "form-control" }) </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Holder, new { @class = "col-md-2 control-label" })
        <div class="col-md-10"> @Html.TextBoxFor(model => model.Holder, new { @class = "form-control"}) </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-success">
        </div>
    </div>
}