@using System.Collections
@model IEnumerable<Payments.BLL.DTO.UnblockAccountRequestDTO>

@{
    ViewBag.Title = "Ublock request";
}

<h2> Requests to unlock account </h2>

<h5 class="text-danger"> @ViewBag.Message </h5>

@if (Model.Count() != 0)
{
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th> Account number </th>
                    <th> Request time </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var request in Model)
                {
                    <tr>
                        <td> @request.AccountAccountNumber </td>
                        <td> @request.RequestTime </td>
                        <td> @Html.ActionLink("Accept", "Accept", new { id = request.Id }, new {@class="btn btn-sm btn-default"}) </td>
                        <td> @Html.ActionLink("Reject", "Reject", new { id = request.Id }, new { @class = "btn btn-sm btn-default" }) </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p class="text-danger"> There are no requests. You cope with it)) </p>
}